<h1><%= controller.klass.name %></h1>

<table>
  <tr>
    <% controller.klass.columns_hash.each do |name, attrs| %>
      <th><%= name.to_s %></th>
    <% end %>
  </tr>
  <% @collection.each do |entity| %>
    <tr>
      <% controller.klass.columns_hash.each do |name, attrs| %>
        <td><%= entity.send(name) %></td>
      <% end %>
    </tr>
  <% end %>
</table>



